<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
<title>JSF Hello World managed Bean</title>
 </h:head>
	<body>
		<h3>hello world Example hello.xhtml</h3>
		<h:form>
			<h:inputText value="#{helloBean.name}"></h:inputText>
			<h:commandButton value="Welcome Me" action="welcome"></h:commandButton>
		</h:form>
	</body>
</html>
