<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
	
<h:head>
<title>Shopping Cart</title>
<h:outputStylesheet name="main.css" library="css" />
 </h:head>
	<h:body>
		<h2 class="heading"> Products </h2>
		<h:form>
			<h:selectOneListbox id="productsListBox">
			<f:selectItem itemLabel="iPod" itemValue="0"/>
			<f:selectItem itemLabel="iStation" itemValue="1"/>
			<f:selectItem itemLabel="hdc Diamond phone" itemValue="2"/>
			<f:selectItem itemLabel="HD TV" itemValue="3"/>
			<f:selectItem itemLabel="Wireless Speakers" itemValue="4"/>
			<f:selectItem itemLabel="Blue Ray DVD Player" itemValue="5"/>
			</h:selectOneListbox>	
			
			<h2 class="heading"> Manage My Cart </h2>		
			<h:outputLabel for="productid" value="ProductID : " readonly="true" />	
			<h:inputText id="productid" /><br />
			<h:outputLabel for="quantity" value="Quantity : " />
			<h:inputText id="quantity" /><br />	
			
			<h:commandButton class="ActionButton" id="add" value="Add to Cart"></h:commandButton>
			<h:commandButton class="ActionButton" id="remove" value="Remove"></h:commandButton>
			<h:commandButton class="ActionButton" id="checkout" value="Check Out"></h:commandButton>
			
			<h2 class="heading"> Contents of cart </h2>
			<p>Cart contents will be displayed here.</p>	
		</h:form>
	</h:body>
</html>
