<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	
<h:head>
<h:title>JSF2 Hello World</h:title>
 </h:head>
	<body>
		<h3>JSF2 Hello World Example - welcome.xhtml</h3>
		<h4>Welcome #{helloBean.name}</h4>
	</body>
</html>
